@import 'variables';

.about {
  min-height: 662rem;
}
.about-player {
  width: 765rem;
  height: 459rem;
  display: inline-flex;
  padding: 84px 21px 0 66px;
  justify-content: flex-end;
  align-items: center;
}

.about-title {
  padding-top: 240rem;
  padding-left: 45rem;
}

.about-title h4 {
  color: #1B75BB;
  font: 500 20rem/1.5 Robot, sans-serif;
  padding-bottom: 15rem;
  /*line-height: 1.5;*/ /* 30px */
  letter-spacing: 2rem;
  text-transform: uppercase;
  opacity: .8;
}

.about-title h2 {
  width: 436rem;
  color: $text-color-1;
  padding-bottom: 30rem;
  /* Heading / Base */
  font: 500 33rem/1.25 Gelasio, sans-serif;
  /*line-height: 1.25; */ /* 44.8px */
}



