.about {
  min-height: 662rem;
}
.about-player {
  width: 765px;
  height: 459rem;
  display: inline-flex;
  padding: 84px 21px 0 66px;
  justify-content: flex-end;
  align-items: center;
}

.about-title {
  margin-top: 240rem;
  margin-left: 45rem;
}

.about-title h4 {
  padding-bottom: 15rem;
  color: #1B75BB;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: .8;
}

.about-title h3 {
  width: 436rem;
  color: #081F32;
  padding-bottom: 30rem;
  /* Heading / Base */
  font-family: Gelasio;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 44.8px */
}



