@import 'variables';

.header {
  width: 100%;
  min-height: 96rem;
  position: fixed;
  top: 3.5%;
  left: 0;
}

.nav-logo-icon {
  max-width: 144rem;
  color: $text-color-1;
  font: 500 24rem Gelasio, sans-serif;
  line-height: 1.5;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 40rem;
  margin-top: 30rem;
}

.nav-menu-link {
  display: flex;
  text-decoration: none;
  color: $text-color-1;
  font: 500 16rem Gelasio, sans-serif;
  line-height: 1.5;
  opacity: 0.7;
  transition: .5s;

  &.nav-menu-link:hover {
    color: #1B75BB;
    transition: .5s;
  }
}

li {
  list-style: none;
}


.btn {
  display: inline-flex;
  padding: 15px 30px;
  background: $text-color-2;
  align-items: flex-start;
  gap: 10px;
  color: #FFF;
  font: 500 16rem Gelasio, sans-serif;
  line-height: 1.5;
  border-radius: 5rem;
}

.btn:hover {
  color: $text-color-1;
  transition: .7s;
}

