@import 'variables';

.main-subsection {
  background: url('../img/main-background-light.jpg') center/cover;
  width: 100%;
  min-height: 690rem;
  margin-top: 0;
}

.main-title {
  padding-top: 214rem;
}

.main-title h4 {
  color: $text-color-2;
  padding-bottom: 15rem;
  font: 500 20rem Roboto, sans-serif;
  line-height: 150%; /* 30px */
  letter-spacing: 2rem;
  text-transform: uppercase;
  opacity: 0.8;
}

.main-title h1 {
  width: 456rem;
  color: $text-color-1;
  padding-bottom: 25rem;
  font: 600 54rem Gelasio, sans-serif;
  line-height: 1.2;
}

.main-title h1 span {
  color: #1B75BB;
  font: 600 54rem Gelasio, sans-serif;
  line-height: 1.2;
}

.main-title p {
  width: 347rem;
  color: $text-color-1;
  padding-bottom: 30rem;

  font: 400 18rem Roboto, sans-serif;
  line-height: 1.5; /* 28.8px */

}

.main-title .btn {
  margin-bottom: 98rem;
}
