@import 'variables';

.services {
  margin-bottom: 44rem;

}

.services-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-title h2 {
  color: $text-color-1;
  padding-top: 57rem;
  padding-bottom: 25rem;
  font: 500 32rem Gelasio, sans-serif;
  line-height: 140%; /* 44.8px */
}

.services-title p {
  color: $text-color-1;
  font: 400 18rem Roboto, sans-serif;
  width: 819rem;
  padding-bottom: 60rem;
  text-align: center;
  line-height: 1.5; /* 28.8px */
  opacity: .6;
}

.services-items {
  display: flex;
  max-width: 100%;
  gap: 30rem;
  margin: 0;
  padding-bottom: 47rem;
}

.services-item {
  width: 262rem;
  max-height: 258rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgba(199, 199, 199, 0.25);;
  //opacity: 0.1;
  background: #FFF;
  box-shadow: 0 4px 30px 0 rgba(199, 199, 199, 0.25);
  transition: .7s;
}

.services-item:hover {
  cursor: pointer;
  box-shadow: 1.5rem 1.5rem 1.5rem 1.5rem black;
  transition: .5s;
}

.services-item img {
  width: 74rem;
  height: 69.519rem;
  margin-top: 21rem;
}

.services-item h3 {
  color: $text-color-1;
  font: 500 24rem Gelasio, sans-serif;
  text-align: center;
  padding-top: 40rem;
  padding-bottom: 0;
  line-height: 1.25;
}

.services-item p {
  color: $text-color-1;
  font: 400 18rem Roboto, sans-serif;
  width: 262rem;
  padding: 15rem 17rem 17.59rem;
  text-align: center;
  line-height: 1.25; /* 28.8px */
}
