@import 'variables';

.subscribe-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscribe-main h3 {
  color: #081F32;
  font-family: Roboto;
  padding-bottom: 20rem;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: .8;
}

.subscribe-main h2 {
  color: #081F32;
  text-align: center;
  font-family: Gelasio;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 44.8px */
  padding-bottom: 50rem;
}

.subscribe-main-input {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  margin-bottom: 124rem;
}

.subscribe-main-input input {
  display: inline-block;
  width: 350rem;
  padding: 15px 30px;
  align-items: flex-start;
  gap: 10px;
  border: 0;
  color: #081F32;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

#email {
  text-align: left;
}

.button-subscribe {
  min-width: 134rem;
  min-height: 54rem;
  background: $text-color-2;
  border: 0;
  border-radius: 5rem;
}

.subscribe-button-link {

  background: $text-color-2;
  padding: 15px 40px;
  border: 0;
  color: #FFF;
  font: 500 16rem Gelasio, sans-serif;
  line-height: 150%; /* 24px */
  transition: .7s;
}

.subscribe-button-link:hover {
  color: $text-color-1;
  transition: .7s;
}